.blog__list {
	padding: 20px 0 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.blog-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #fcfcfc;
	width: 40%;
}

.blog-item:nth-child(2n) {
	box-shadow: 5px 10px 10px 2px #cdcdcd;
	margin: 15px 0 15px 15px;
}

.blog-item:nth-child(2n + 1) {
	box-shadow: -5px 10px 10px 2px #cdcdcd;
	margin: 15px 15px 15px 0;
}

.blog-item__image {
	width: 100%;
	height: 285px;
}

.blog-item__content {
	position: relative;
	padding: 20px;
	padding-top: 30px;
}

.blog-item__name {
	color: #969696;
	font-size: 32px;
	line-height: 32px;
}

.blog-item__name:hover {
	color: #676767;
	border-bottom: 2px solid #676767;
}

.blog-item__description {
	color: #0b9075;
	font-size: 24px;
	line-height: 26px;
}

.blog-item__text {
	color: #bebebe;
	font-size: 16px;
	line-height: 28px;
	margin: 20px 0;
}

.blog-item__button {
	font-size: 16px;
	text-transform: uppercase;
	border: 0;
	outline: none;
	color: white;
	padding: 5px 35px;
	background: #2eb398;
	margin-top: 20px;
}

.blog-item__button:hover {
	opacity: .7
}

@media (min-width: 992px) {
	.blog-item {
		width: 30%;
	}
	.blog-item:nth-child(3n + 1) {
		box-shadow: -5px 10px 10px 2px #cdcdcd;
		margin: 15px 15px 15px 0;
	}
	.blog-item:nth-child(3n + 2) {
		box-shadow: 0px 10px 10px 2px #cdcdcd;
		margin: 15px;
	}
	.blog-item:nth-child(3n) {
		box-shadow: 5px 10px 10px 2px #cdcdcd;
		margin: 15px 0 15px 15px;
	}
}