.item {
	padding: 30px 0 100px;
}

.item__content {
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 2px solid #bebebe;
}

.item__image {
	width: 50%;
	margin: 30px auto;
}

.item__name {
	font-size: 40px;
}

.item__text {
	font-size: 18px;
	text-align: justify;
}


.blog-more__title {
	text-align: center;
	font-size: 32px;
	color: #2eb398;
}

.blog-more__list {
	padding: 20px 0 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.blog-more-item {
	margin: 20px;
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	font-family: 'Maven Pro', sans-serif;
	padding: 20px;
	width: 80%;
}

.blog-more-item__image {
	position: relative;
	overflow: hidden;
	height: 200px;
}

.blog-more-item__image img {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.blog-more-item__image:hover img {
	transform: translate(-50%, -50%) scale(1.1, 1.1);
}

.blog-more-item__content {
	position: relative;
	padding: 20px 0;
	text-align: center;
}

.blog-more-item__name {
	color: #787878;
	font-size: 20px;
	line-height: 20px;
}

.blog-more-item__name:hover {
	color: #454545;
	border-bottom: 2px solid #454545
}

.blog-more-item__text {
	color: #989898;
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0;
}

.blog-more-item__button {
	font-size: 14px;
	text-transform: uppercase;
	border: 0;
	outline: none;
	color: white;
	padding: 5px 35px;
	background: #2eb398;
}

.blog-more-item__button:hover {
	opacity: .7
}

@media (min-width: 576px) {
	.blog-more-item {
		width: 40%;
	}
}

@media (min-width: 992px) {
	.blog-more-item {
		width: 20%;
	}
}