.porfolio__list {
	padding: 50px 0;
}

.portfolio-item {
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fcfcfc;
	padding: 20px;
	box-shadow: -5px 10px 10px 2px #bebebe;
}

.portfolio-item:nth-child(even) {
	flex-direction: column;
	background-color: transparent;
	box-shadow: 5px 10px 10px 2px #cdcdcd;
}

.portfolio-item__image {
	width: 250px;
	height: 285px;
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	margin-left: 0;
	margin-right: 20px; 
}

.portfolio-item:nth-child(even) .portfolio-item__image {
	margin-left: 20px;
	margin-right: 0;
}

.portfolio-item__content {
	position: relative;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}

.portfolio-item__name {
	color: #969696;
	font-size: 40px;
	line-height: 32px;
}

.portfolio-item__name:hover {
	color: #676767;
	border-bottom: 2px solid #676767;
}

.portfolio-item__description {
	color: #0b9075;
	font-size: 24px;
	line-height: 26px;
}

.portfolio-item__text {
	color: #bebebe;
	font-size: 16px;
	line-height: 28px;
	margin: 20px 0 40px;
}

.portfolio-item__button {
	font-size: 16px;
	text-transform: uppercase;
	border: 0;
	outline: none;
	color: white;
	padding: 5px 35px;
	background: #2eb398;
	margin-top: 20px;
}

.portfolio-item__button:hover {
	opacity: .7
}

.portfolio-item:nth-child(odd) .portfolio-item__button {
	position: relative;
}

@media (min-width: 768px) {
	.portfolio-item {
		flex-direction: row;
		justify-content: space-around;
	}
	.portfolio-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	.portfolio-item__content {
		text-align: justify;
		margin-top: 60px;
	}
	.portfolio-item:nth-child(odd) .portfolio-item__button {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}